<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1025511794651-3dl2qmn9chetmp1dqolnnbfkql4ql1cn.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1025511794651-3dl2qmn9chetmp1dqolnnbfkql4ql1cn</string>
	<key>API_KEY</key>
	<string>AIzaSyDtnlr4n1H9uuUKMcqH3G2aGck88W1tgWc</string>
	<key>GCM_SENDER_ID</key>
	<string>1025511794651</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>org.reactjs.native.example.AwesomeProject</string>
	<key>PROJECT_ID</key>
	<string>awesomeproject-142f9</string>
	<key>STORAGE_BUCKET</key>
	<string>awesomeproject-142f9.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1025511794651:ios:2f27e85dff8864318769fe</string>
</dict>
</plist>